.logo {
    /*height: 15px;*/
    width: 110px;
    display: block;
    text-indent: -5000px;
    background: url("../img/relocate-x150.png") no-repeat;
    margin: 10px;
    /*float: left;*/
}

.logo:hover {
    /*height: 15px;*/
    width: 110px;
    display: block;
    text-indent: -5000px;
    background: url("../img/relocate-x150-hover.png") no-repeat;
    margin: 10px;
    /*float: left;*/
}