h1, h2 {
    padding: 0 0 10px 10px;
    border-bottom: 1px solid #ccc;
    box-shadow: 0px 8px 11px -4px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    color: #1ABC9C;
    margin-bottom: 30px;
}

h3{
    padding: 0 0 10px 10px;
    border-bottom: 1px solid #ccc;
    box-shadow: 0px 8px 11px -4px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    color: #1ABC9C;
    margin-bottom: 30px;
    font-size: 20px;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
footer {
    background: #2c3e50;
    color: #ffffff;
    text-align: center;
    line-height: 30px;
}
footer p {
    margin-bottom: 0;
}

.logo {
    /*height: 15px;*/
    width: 110px;
    display: block;
    text-indent: -5000px;
    background: url("../img/relocate-x150.png") no-repeat;
    margin: 10px;
    /*float: left;*/
}

.logo:hover {
    /*height: 15px;*/
    width: 110px;
    display: block;
    text-indent: -5000px;
    background: url("../img/relocate-x150-hover.png") no-repeat;
    margin: 10px;
    /*float: left;*/
}

.padding-right5 {
    padding-right: 5px;;
}

.padding-right10 {
    padding-right: 10px;;
}

.padding-right20 {
    padding-right: 20px;;
}

.padding-left5 {
    padding-left: 5px;;
}

.padding-left10 {
    padding-right: 10px;;
}

.padding-left20 {
    padding-right: 20px;;
}

.form-buttons a {
    float: left;
    margin-right: 20px;
}

.navbar .brand {
    margin-left: 0;
}

.content-box {
    float: right;
    width: 610px;
    margin-right: 20px;
}

.mainCircleContainer {
    float: left;
}

.mainContentWrapper {
    margin-bottom: 50px;

}

#objectBox, #circleBox {
    min-height: 150px;
}

.error {
    color: red;
    padding-top: 5px;
    padding-bottom: 5px
}

.success {
    color: green;
    padding-top: 5px;
    padding-bottom: 5px
}

.mainContentWrapper .error, .mainContentWrapper .success {
    margin-left: 196px;
    display: block;
}

#chartdiv, #chartsiv {
    height: 500px;
    font-size: 11px;
    border: 1px solid #1ABC9C;
    box-shadow: 0px 8px 11px -4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.pieCharts {
    height: 500px;
}

tspan {
    width: 100px !important;
}

.page-header > a {
    display: block;
    background: #f4f4f4;
    height: 40px;
    font-size: 22px;
    line-height: 40px;
    text-transform: uppercase;
    border: 1px solid #1ABC9C;
    padding-left: 20px;
}

.page-header > a i {
    background: url("../img/next-arrow.png") no-repeat center;
    width: 32px;
    height: 40px;
    float: right;
    margin-right: 15px;
}

.page-header > a:hover {
    background: #1AbC9C;
    text-decoration: none;
    color: #ffffff;
}

.ValidationErrors {
    color: red;
}
.actions a{
    width: 20px;
    height: 22px;
}

.icon-pie {
    background: url("../img/pie.png") no-repeat center;
}

.icon-eye-open{
    background: url("../img/view.png") no-repeat center;

}

.icon-edit {
    background: url("../img/edit.png") no-repeat center;
}

.icon-trash {
    background: url("../img/delete.png") no-repeat center;
    background-size: 58%;
}

.table-hover tbody tr:hover>td, .table-hover tbody tr:hover>th,
.table-striped tbody>tr:nth-child(odd)>td, .table-striped tbody>tr:nth-child(odd)>th{
    background: #f4f4f4;
    color: #000;
}
th a {
    color: #000;;
}

.tabs {
    background: #e6eaed;
    padding: 0;
    min-height: 600px;
}

.tabs ul {
    width: 300px;
    min-height: 600px;
    float: left;
    background: #2c3e50;
}

.tabs li {
    border-top: 1px solid #ffffff;
    padding: 10px 10px 15px 10px;
    margin: 0;
}

.tabs li:hover, .tabs li.active {
    background: #e6eaed;
}

.tabs li:hover a, .tabs li.active a {
    color: #000;
    background-image: url("../img/arrow-active.png");
}

.tabs li:first-child {
    border-top: none;

}

.tabs li a {
    display: block;
    margin-bottom: 15px;
    padding-right: 25px;
    color: #fff;
    background: url("../img/arrow.png") no-repeat right center  ;
}

.tabs-content {
    width: 640px;
    float: left;
}

.progress {
    margin-bottom: 0;
}

.well {
    background: #f4f4f4;
    border: 1px solid #ccc;
}

.hero-unit {
    margin-top: -10px;
    border-radius: 0;
    min-height: 400px;
}


.hero-unit legend {
    font-size: 40px;
    line-height: 42px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    box-shadow: 0px 9px 10px -2px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    color: #1ABC9C;
    margin-bottom: 30px;
}

.page-header {
    margin-bottom: 0;
}

.add-more {
    margin-bottom: 10px;
    margin-left: 10px;
}

.requirements span.pull-left {
    margin: 10px;
}

.control-group.info .checkbox, .control-group.info .radio, .control-group.info input, .control-group.info select, .control-group.info textarea {
    color: #000;
}

.control-group.info .control-label, .control-group.info .help-block, .control-group.info .help-inline {
    color: #2c3e50;
    font-weight: bold;
}

.backButton {
    background: url("../img/Back_button.png") no-repeat center;
    width: 40px;
    height: 40px;
    float: right;
    margin-right: 15px;
}

.viewUsers tr:first-child td {
    border-top: 0;
}